/* menu.css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.mgl28 {
    margin-right: 28px;
}
.white {
    color: #fff;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
  }
  
.header {
    background-color: #c00;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.grid {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
  
.header-navbar {
    display: flex;
    justify-content: space-between;
}
  
.menu-left {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
  
.menu-item {
    margin-right: 20px;
}
  
.menu-item a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    padding: 8px 12px;
    margin-right: 10px;
    transition: background-color 0.3s, color 0.3s;
    height: 100%;   
    display: block;
}   
.menu-item a:hover {
    background-color: #9D0103;
    color: #ffffff;
    opacity: 0.7;
}
  
.menu-right {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
  
.menu-right-item {
    margin-left: 20px;
    color: #fff;
}
  
.menu-right-item a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin-left: 10px;
    transition: color 0.3s;
}
  
.menu-right-item a:hover {
    text-decoration: none;
    color: #fff;
    opacity: 0.7;
}
  
.float-clear {
    clear: both;
}
  
@media (max-width: 768px) {
    .header-navbar {
        flex-direction: column;
    }
  
    .menu-left {
        flex-direction: column;
        align-items: flex-start;
    }
  
    .menu-item {
        margin-bottom: 10px;
    }
  
    .menu-item:last-child {
        margin-bottom: 0;
    }
  
    .menu-right {
        margin-top: 10px;
        align-items: flex-start;
    }
  
    .menu-right-item {
        margin-left: 0;
        margin-bottom: 10px;
    }
  
    .menu-right-item:last-child {
        margin-bottom: 0;
    }
}
